{% extends "layout.html" %}

{% block title %}Editar Conta{% endblock %}

{% block content %}
<h2>Editar Dados da Conta</h2>

<form method="POST" action="/edit">
    <label>Email:
        <input type="email" name="email" value="{{ user.email }}" required>
    </label><br>
    <label>Nome:
        <input type="text" name="firstName" value="{{ user.firstName }}">
    </label><br>
    <label>Sobrenome:
        <input type="text" name="lastName" value="{{ user.lastName }}">
    </label><br>
    <button type="submit">Salvar Alterações</button>
</form>
{% endblock %}
